<% if user_signed_in? %>




<% else %>
  <body class=home>
    <div class="homeBackground">
      <h1 id="mainTitle">Welcome to Meticulous!</h1>
      <p>We help you stay on a budget and see where your money is going!<br>To learn more please login or sign-up below.</p>
      <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
      <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
    </div>
  </body>
<% end %>



